We develop a stochastic macro-climate model to analyze the influence of climate change on asset returns. Quasi-analytical formulas allow to price various types of long-dated assets, including fixed-income products, derivatives, and equities.
.Rproj.user

/.quarto/
