# This file controls the settings for your Quarto template from www.marvinschmitt.com

# website settings
website:
  title: "J.-P. Renne"
  description: "J.-P. Renne personal website"   # A brief slogan (optional)
  image: img/JPR2022.jpg
  favicon: img/favicon.png
  
  # start of the navigation bar at the top of the website
  navbar:
    pinned: true
    logo: /img/logo.png
    
    # your sub-pages
    left:
      - text: "Research"
        href: research.qmd
      - text: "Teaching"
        href: teaching/index.qmd
      - text: "CV"
        href: cv/index.qmd
      - text: "Butterflies"
        href: photography/index.qmd
    
    # your social media handles
    right:
    - icon: github
      text: Github
      href: https://github.com/jrenne
    - icon: envelope
      text: Email
      href: "mailto:jean-paul.renne@unil.ch"  
    - icon: book
      text: Google Scholar
      href: https://scholar.google.com/citations?user=DXgArakAAAAJ&hl=en
  

  search: 
    location: navbar
    type: textbox
  page-footer: 
    left: |
      <span class="faux-block">Jean-Paul Renne, UNIL, 1015 Lausanne, Switzerland</span>

project:
  type: website
  output-dir: docs

  preview: 
    port: 22222
    browser: true
    watch-inputs: true
    navigate: true

execute:
  freeze: auto

bibliography: biblio.bib

format:
  html:
    fontsize: 1.1em
    theme: 
      - pulse
      - html/styles.scss
    toc: false
    code-link: true
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin
    footnotes-hover: true